/* ============================================ */
/* CSS for control sap.m/IconTabBar.control			*/
/* ============================================ */

.sapMITB {
	display: block;
	width: 100%;
	position: relative;
}
