.sapMPIGradient(@color){
	background: -moz-linear-gradient(top, lighten(@color, 5) 0%, darken(@color, 5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten(@color, 5)), color-stop(100%,darken(@color, 5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, lighten(@color,5) 0%,darken(@color, 5) 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top, lighten(@color, 5) 0%,darken(@color, 5) 100%); /* IE10+ */
	background: linear-gradient(to bottom, lighten(@color, 5) 0%,darken(@color, 5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=lighten(@color, 5), endColorstr=darken(@color, 5),GradientType=0 ); /* IE6-9 */
}

.sapMPIBarNeutral {
	.sapMPIGradient(@sapUiHighlight);
}

.sapMPIBarPositive {
	.sapMPIGradient(@sapUiPositiveIcon);
}

.sapMPIBarNegative {
	.sapMPIGradient(@sapUiNegativeIcon);
}

.sapMPIBarCritical {
	.sapMPIGradient(@sapUiCriticalIcon);
}


.sapMPIText{
	font-family: @sapUiFontFamilySecondary;
}