/* ===================================== */
/* Less helper functions for gradients   */
/* ===================================== */

.sapMRIGradient(@color){
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten(@color, 5)), color-stop(100%,darken(@color, 5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, lighten(@color,5) 0%,darken(@color, 5) 100%); /* Chrome10+,Safari5.1+ */
	-webkit-background-clip: text; /* Chrome & Safari only */
	-webkit-text-fill-color: transparent; /* Chrome & Safari only */
}

.sapMRIIconSel {
	color: @sapUiRIIconColor;  /* other browsers will use this */
	-webkit-text-stroke: 1px darken(@sapUiRIIconColor, 10);
}

html[data-sap-ui-browser^='ie10'] .sapMRIIconSel {
	text-shadow: 0px 0px 0px @sapUiBlack;
}

/* gradients in combination with background-clip: text are not supported by ie, android < 4.2 or blackberry*/
html[data-sap-ui-browser*='cr'] .sapMRIIconSel,
html[data-sap-ui-os*='iOS'] .sapMRIIconSel,
html[data-sap-ui-os*='mac'] .sapMRIIconSel  {
	.sapMRIGradient(@sapUiRIIconColor);
}

.sapMRIDisabled .sapMRIIconSel {
	color: mix(@sapUiRIIconColor, @sapUiWhite, 50%);  /* other browsers will use this */
	-webkit-text-stroke: 1px mix(darken(@sapUiRIIconColor, 10), @sapUiWhite, 50%);
}

html[data-sap-ui-browser^='ie10'] .sapMRIDisabled .sapMRIIconSel {
	text-shadow: 0px 0px 0px @sapUiBlack;
}

html[data-sap-ui-browser*='cr'] .sapMRIDisabled .sapMRIIconSel {
	.sapMRIGradient(mix(@sapUiRIIconColor, @sapUiWhite, 50%));
}

.sapMRIIconHov {
	color: darken(@sapUiRIIconColor, 5);
	-webkit-text-stroke: 1px darken(@sapUiRIIconColor, 10);
}

html[data-sap-ui-browser^='ie10'] .sapMRIIconHov {
	text-shadow: 0px 0px 0px @sapUiBlack;
}

.sapMRIIconUnsel {
	color: @sapUiLightBG;
	-webkit-text-stroke: 1px @sapUiDarkBorder;
}

html[data-sap-ui-browser^='ie10'] .sapMRIIconUnsel {
	text-shadow: 0px 0px 0px @sapUiBlack;
}

.sapMRIIconUnselSmall {
	color: darken(@sapUiLightBG, 10);
}

.sapMRIDisabled .sapMRIIconUnsel {
	color: mix(@sapUiLightBG, @sapUiWhite, 50%);
	-webkit-text-stroke: 1px mix(@sapUiDarkBorder, @sapUiWhite, 50%);	
}

html[data-sap-ui-browser^='ie10'] .sapMRIDisabled .sapMRIIconUnsel {
	text-shadow: 0px 0px 0px @sapUiBlack;
}

.sapMRI .sapUiIcon,
.sapMRI .sapMImg {
	padding-right: @sapUiRIIconPadding;
}

.sapMRI .sapUiIcon:last-child,
.sapMRI .sapMImg:last-child {
	padding-right: 0rem;
}